<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>themoviedb - spotify</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <script src="./lib/axios.min.js"></script>
    <script src="./lib/vue.js"></script>
</head>
<body>
  <div id = "app">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">themoviedb - spotify</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search by Film" size="50" v-model="search">
              <span class="input-group-btn">
                <button class="btn btn-success" type="button" v-on:click="clickSearch">Search</button>
              </span>
            </div><!-- /input-group -->
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a v-bind:href="link_in" class="btn"><span class="glyphicon glyphicon-user"></span> {{text_in}}</a></li>
            <li><a v-bind:href="link_out" class="btn"> {{text_out}}</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="text-center"><button v-on:click="pagePrev">Prev</button><input v-model="page" size="4" class="text-center"><button v-on:click="pageNext">Next</button></div><hr>
        <div class="row">
          <div class="col-sm-6 col-md-6" v-for="list in lists">
            <div class="col-sm-6 col-md-6">
              <div class="thumbnail">
                <img v-bind:src="url_img+list.poster_path" alt="..." style="min-height:300px;height:350px;">
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <!-- <div class="thumbnail"> -->
                <div class="caption">
                  <h4>{{ list.title }}</h4>
                  <p align="justify">{{list.overview}}</p>
                  <button v-on:click="trackClick(list)" v-bind:disabled="disableButton"> DETAIL</button>
                </div>
              <!-- </div> -->
            </div>
          </div>

          <div class="col-sm-12">
            <div v-for="data in lists_music" class="col-md-3 col-sm-6">
                <div class="item" v-on:click="fetchTracks(data.id)">
                    <img class="img-responsive" v-bind:src="data.images[0].url" alt="">
                    </audio>
                </div>
            </div>
          </div>
        </div>


    </div>
    </div>
  </div>

  <script src="./lib/jquery.min.js"></script>
  <script src="./assets/js/bootstrap.min.js"></script>
</body>
<script src="./vue/index.js"></script>
</html>